@import '../../../../../variables';

.custom-link {
  text-decoration: none;
  text-decoration-color: transparent;
  transition: 0.3s ease;
}

.custom-link.white {
  color: $white;
}

.custom-link.red {
  color: $main-red-color;
}

.custom-link:visited {
  color: $white;
}

.custom-link:hover {
  cursor: pointer;
}

.custom-link:hover,
.custom-link .active {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.custom-link.white:hover,
.custom-link.white .active {
  text-decoration-color: $white;
}

.custom-link.red:hover,
.custom-link.red .active {
  text-decoration-color: $main-red-color;
}
