@import 'src/variables';

:host {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  max-width: 760px;
}

.services-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  border-radius: 20px;
  border: 2px solid $main-red-color;
}

@media (min-width: 960px) {
  :host {
    width: 100%;
  }
}
