@import 'src/variables';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  padding: 1%;
  box-sizing: border-box;
  position: relative;
  background: $main-red-color;
  margin-bottom: 2%;
  color: $white;
}

.brand,
.brand span {
  font-size: 1.3rem;
}

@media (min-width: 960px) {
  .menu-btn {
    display: none;
  }
}
