<mat-toolbar class="navbar">
  <span class="brand">TravelApp</span>
  <button
    mat-icon-button
    class="menu-btn"
    aria-label="Example icon-button with menu icon"
    (click)="expandContent()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <!--Expanded content-->
  <app-expanded-content
    *ngIf="
      isContentExpanded ||
      pageSize === sizes.Medium ||
      pageSize === sizes.Large ||
      pageSize === sizes.XLarge
    "
    [pageSize]="pageSize"
  ></app-expanded-content>
</mat-toolbar>
