@import '../../../../../variables';

:host {
  width: 100%;
  background-color: $main-red-color;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10px 0 0 10px;
}

.links-container {
  list-style: none;
  padding-left: 3%;
  width: 100%;
}

.external-link {
  display: flex;
  justify-content: left;
  align-items: center;
}

.external-link-icon {
  width: 20px;
}
