<app-header [pageSize]="pageSize"></app-header>
<div class="main-content">
  <mat-grid-list
    [cols]="gridSize.cols"
    [rowHeight]="gridSize.rowHeight"
    [gutterSize]="gridSize.gutterSize"
  >
    <mat-grid-tile
      [colspan]="gridSize.gridItemsSize[0].colspan"
      [rowspan]="gridSize.gridItemsSize[0].rowspan"
    >
      <app-services-nav
        [services]="services"
        (serviceSelected)="selectService($event)"
      ></app-services-nav>
    </mat-grid-tile>
    <mat-grid-tile
      *ngIf="pageSize !== 'XSmall' && pageSize !== 'Small'"
      [colspan]="gridSize.gridItemsSize[1].colspan"
      [rowspan]="gridSize.gridItemsSize[1].rowspan"
    >
      <app-services-list
        [service]="selectedService || services[0]"
      ></app-services-list>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="gridSize.gridItemsSize[2].colspan"
      [rowspan]="gridSize.gridItemsSize[2].rowspan"
      [style.background]="'#fff'"
    >
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="gridSize.gridItemsSize[3].colspan"
      [rowspan]="gridSize.gridItemsSize[3].rowspan"
      [style.background]="'#799F0C'"
    >
      <app-service></app-service>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="gridSize.gridItemsSize[4].colspan"
      [rowspan]="gridSize.gridItemsSize[4].rowspan"
      [style.background]="'#FFE000'"
      >5</mat-grid-tile
    >
    <mat-grid-tile
      [colspan]="gridSize.gridItemsSize[5].colspan"
      [rowspan]="gridSize.gridItemsSize[5].rowspan"
      [style.background]="'#EFEFBB'"
    >
      <app-links></app-links>
    </mat-grid-tile>
  </mat-grid-list>
</div>
