<div class="expanded-container {{ pageSize }}-expanded-container">
  <ul class="topics-container">
    <li>
      <app-custom-link [text]="'Link1'"></app-custom-link>
    </li>
    <li>
      <app-custom-link [text]="'Link1'"></app-custom-link>
    </li>
    <li>
      <app-custom-link [text]="'Link1'"></app-custom-link>
    </li>
    <li>
      <app-custom-link [text]="'Link1'"></app-custom-link>
    </li>
  </ul>
  <div class="search-input" [class.focused]="isSearchInputActive">
    <input
      type="text"
      (focus)="toggleInputStyle(true)"
      (blur)="toggleInputStyle(false)"
    />
    <mat-icon>search</mat-icon>
  </div>
</div>
