/* You can add global styles to this file, and also import other style files */
@import 'variables';

html,
body {
  height: 100%;
}

html {
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: $dark;
}

p,
a,
span,
label,
div {
  font-size: 0.8rem;
}
