$background: linear-gradient(15deg, #4ca1af, #c4e0e5);
$main-red-color: #da4453;
$modal-background: rgba(0, 0, 0, 0.5);
$yellow: #ffe000;
$dark: rgb(20, 20, 20);
$white: #ffff;
$light-gray: #d7dde8;
$success: #45b649;
