@import '../../../../../variables';

.service-list {
  padding: 3%;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  border-radius: 0 10px 10px 0;
  background-color: $main-red-color;
}

.service-list-header {
  text-align: center;
  color: $white;
}

:host {
  height: 100%;
  width: 100%;
}

.link-img {
  width: 90%;
  margin: 4px auto;
}

.link-img:hover {
  cursor: pointer;
}
